nav{
    color:#29648a;
    height: 10vh;
}
#mainNavbar .navbar-brand{
    color: #ef383f;
    font-size: 1.5rem;   
}
#mainNavbar .nav-link{
    color:#a9a9a9;
}
#mainNavbar .nav-link:hover{
    color:#ef383f;
}
#mainNavbar{
    font-size: 1rem;
}

footer{
    height:15vh;
}
footer a {
    color: #EFEFEF;
    font-size: 1rem; 
}
footer p {
    color: #EFEFEF;
    font-size: 1rem; 
    font-family: 'Oswald',sans-serif;
    text-shadow: none;
}