body {
    background-color: #efefef;
}
.ref {
    margin: auto;
}
.refe {
    margin: auto;
    text-align: center;
    margin-top: 3%;
    height: 50%;
    font-family: 'Antic Slab', serif;
    background-color: #ff3b3f;
    width: 7em;
    color: white;
}
.icon {
    margin: auto;
    text-align: center;
}
